body {
    margin: 0;
    padding: 0;
    background-image: url("../images/backgroun-violet.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: #530540;
    width: 250px; 
    color: #fff;
    border-radius: 0 15px;
}

.content {
    margin-left: 200px;
}

.area-cabecalho {
    background-color: #530540;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 20px;
    border: groove 5px #3b0875;
    border-radius: 0 15px;
}
   
.area-menu {
	background-color: #3a0b50;
	padding: 15px 0;
}
  
.area-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
  
.area-menu li {
	display: flex;
    padding: 15px;
}
  
.area-menu a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
}
  
.area-menu a:hover {
	background-color: #eb0aeb;
	color: #042f41;
    box-shadow: 0px 0px 20px rgba(148, 0, 211, 2);
}


a, ul{
    text-decoration: none;
    list-style: none;
}

.container {
    width: 500px;
    max-width: 90%;
    height: 100vh;
    background-color: rgba(225, 227, 172, 0.4);
    border-radius: 15px;
    text-align: center;
}

.logos-link {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.logos-link li {
    margin-right: 40px;
}

.logos-link img {
    width: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(148, 0, 211, 1);
}

.input-option{
    display: inline;
    padding: 10px;
    font-weight: bold;
}

.input-contact label{
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}


.input-contact input {
    width: 80%; 
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #868484; 
    border-radius: 5px; 
}

textarea {
    width: 80%;
    padding: 5px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}